{% extends "index.html" %} {% block title %} Home {% endblock %} {% block body
%}
<div class="back">
  <div class="dorm-battle">
    This is the profile for {{user.email}}
    <button class="profile-image"></button>
    <div class="name">{{user.username}}</div>
    <div>
      <button class="profile-button">Profile</button>
      <button class="follow-button">Follow</button>
    </div>
    <div class="points">
      <div>Dorm Points</div>
      <div>1000</div>
    </div>
    <div class="notes-tab">
      <ul id="notes">
        {% for note in user.notes %}
        <li>
          {{ note.data}}
          <!-- <button type="button" class="close" onclick="deleteNote({{note.id}})">
            Remove
          </button> -->
        </li>
        {%endfor%}
      </ul>
      <form method="POST">
        <textarea class="text-box" name="note" id="note"></textarea>
        <div>
          <button type="class" class="text-button">Add Note</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- <h2 align="center">Welcom {{user.username}}: Enter your notes</h2>
<ul id="notes">
  {% for note in user.notes %}
  <li>
    {{ note.data}}
    
  </li>
  {%endfor%}
</ul>
<form method="POST">
  <textarea align="center" name="note" id="note"></textarea>
  <br />
  <div align="center">
    <button type="class">Add Note</button>
  </div>
</form> -->
{% endblock %}
