{% extends "index.html" %} {% block title %} Skid-Lify {% endblock %} {% block
body %}
<!-- Below is the div for the login slider -->
<div class="login-body">
  <div id="login-box-professor" class="login-box">
    <!-- Professor login form elements go here -->
    <div class="login-content">
      <form method="POST">
        <h2 class="title-prof">WELCOME</h2>
        <h3 class="sub-title">Hey there! Professor</h3>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            autocomplete="off"
            class="form-control"
            placeholder="Enter your email"
            required
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            placeholder="Enter your password"
            required
          />
        </div>
        <!-- professor Unique Key for secure authentication -->
        <div class="form-group">
          <label for="unique-key">Prof-Key</label>
          <input
            type="text"
            name="profkey"
            id="profkey"
            class="form-control"
            placeholder="Professor Identifier Key"
            required
          />
        </div>
        <div class="login-button">
          <input type="submit" class="btn1" value="Login" />
        </div>
      </form>
    </div>
  </div>

  <div id="login-box-student" class="login-box">
    <!-- Student login form elements go here -->
    <div class="login-content">
      <form method="POST">
        <h2 class="title">WELCOME</h2>
        <h3 class="sub-title">Let's go Thoroughbred!</h3>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            autocomplete="off"
            class="form-control"
            placeholder="Enter your email"
            required
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            placeholder="Enter your password"
            required
          />
        </div>
        <div class="login-button">
          <input type="submit" class="btn" value="Login" />
        </div>
      </form>
    </div>
  </div>
  <!-- This is the left section of the main page -->
  <section class="section-70">
    <div class="leftside">
      <div class="centered-div">
        <div class="title1">SKID-LIFY</div>
        <div class="subtitle">"Skidmore Simplified!"</div>
        <div class="button-row">
          <button class="button" id="show-login-professor">PROFESSOR</button>
          <button class="button" id="show-login-student">STUDENT</button>
        </div>

        <div class="sign-up">
          Don't have an account?
          <a id="signUp" href="/sign-up">Sign Up</a>
        </div>
      </div>
    </div>
  </section>
  <!-- This is the right side of the app where users will be prompted to login or sign-up -->
  <section class="section-30">
    <div id="svg-background"></div>
    <div></div>
  </section>
</div>
{% endblock %}
