<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="static\css\hero.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>hero</title>
  </head>
  <body>
    <div class="user-box">
      <div class="profile">
        <div class="profile-image">
          <img src="static\images\DSC09485.JPG" alt="" />
        </div>
        <h2>ANKIT GUPTA</h2>
        <p>Hey! This page is currently under work!</p>
        <p>Comeby again to see the progress, And BTW my details</p>
        <li>Year-FreshMan</li>
        <li>Class of 2026</li>
        <li>Biology and Computer Major</li>
        <button>Dorm Points</button>
      </div>
    </div>
  </body>
</html>
