<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static\css\version1\home\home.css" />
    <link rel="stylesheet" href="static\css\version1\home\home_nav.css" />
    <link rel="stylesheet" href="static\css\version1\home\dashboard.css" />
    <link rel="stylesheet" href="static\css\version1\home\coffee_talks.css" />
    <link rel="stylesheet" href="static\css\version1\home\pop_up.css" />
    <link rel="stylesheet" href="static\css\version1\general\alert.css" />
    <title>{{user.username}}</title>
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true)%} {% if
    messages %} {% for message in messages %} {% if category == 'error' %}
    <div role="alert" class="alert-div">
      {{message}}
      <!-- <button type="button" data-dismiss="alert"></button> -->
    </div>
    {%else%}
    <div role="alert" class="alert-success">
      {{message}}
      <!-- <button type="button" data-dismiss="alert">Close</button> -->
    </div>
    {%endif%} {%endfor%} {% endif %} {% endwith %}
    <div class="home_nav">
      <h2 class="home_nav_title">Skid-Lify</h2>
      <h4>Welcome {{user.username}}</h4>
      <a href="#dashboard">Ongoing Events</a>
      <a href="#coffee-talks">CoffeeTalks</a>
      <a href="#newsfeed">Academics</a>
      <a href="#event-calendar">Clubs</a>
      <a href="#resources">Resources</a>
      <a href="#about-us">About Us</a>
      <div class="home_log_out">
        <a href="/logout">Sign Out</a>
      </div>
    </div>

    <div class="home_background">
      <div class="statement_bar">Simplyfing your experience at Skidmore!</div>
      <div class="subdivide">
        <div class="dashboard">
          <div class="profile_container">
            <div class="profile">
              <div class="profile_blob">
                <img
                  src="static\images\home_images\DSC09339.JPG"
                  alt="Profile Picture"
                />
              </div>
              <strong>Name: {{user.username}}</strong>
              <a href="/update_user_info" type="submit">Edit Info</a>
              <p>Major: Computer Science</p>
            </div>
            <div class="profile_info">
              <h3>Events Status: "LOW"</h3>
              <button>Learn how to increase it?</button>
              <br />
              <h4>Your Quote that resembles you</h4>
              <h5>Life is Hard, SO what?</h5>
              <br />
              <h4>Your Interests</h4>
              <h5>Bio-Tech</h5>
              <h5>Life</h5>
            </div>
          </div>
          <div class="more_info">
            <div class="profile_clubs">
              <h3>Clubs You have Joined</h3>

              <p>Club: {{ info.clubs }}</p>

              <li>Hayat - Position:</li>

              <li>{{current_user.user_info.subjects}}</li>
              <li>ISU - Position:</li>
            </div>
            <div class="Academic_groups">
              <h3>You have joined these clubs</h3>
              <li>{{ info.subjects }}</li>
              <li>International Affairs Club</li>
            </div>
          </div>
          <div class="dash-registered_events">
            <!-- Need a for loop that fetches information from a database that has
            information about ongoing events -->
            <h2>Upcoming Events you have registered for</h2>
            <div class="registered_events">
              <p>Time: 21 April 2pm</p>
              <p>Location: Case Center</p>
              <button>click for more info</button>
            </div>
          </div>
        </div>
        <div class="coffee_talks">
          <h2>CoffeeTalks</h2>
          <div class="coffee_post">
            <img src="static\images\post1.jpg" alt="Your Image" />
            <div class="coffee_description">
              <p><strong>Title:</strong> Your Title</p>
              <p>
                <strong>Description:</strong> Your Description (can be 3 lines)
              </p>
              <p><strong>Location</strong> Your Location and Time</p>
              <p><strong>Time</strong> Time</p>
              <button class="btn_coffee">Interested!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button id="myButton">Ongoing Events</button>

    <div id="ongoing_events" class="hidden">
      {% for event in events %}
      <div
        class="event-post {% if loop.index % 2 == 0 %}even{% else %}odd{% endif %}"
      >
        <img src="{{ event.image }}" alt="{{ event.title }}" />
        <h3>{{ event.title }}</h3>
        <p>{{ event.description }}</p>
        <p>Date: {{ event.date }}</p>
      </div>
      {% endfor %}
      <div>hey</div>
      <div>hey1</div>
    </div>

    <script src="static\javascripts\home.js"></script>
  </body>
</html>
